.navigation ul {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #6497B1;
    /*position: fixed;
    left: 670px;*/
  }
  
  .navigation li {
    font-weight: 100;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 10px;
    list-style-type: none;
    font-family: sans-serif;
    color: #005B96;
  }

  li:hover{

    color: #98E4D9;

  }
  #logo {
    font-weight: bold;
  }

  .info {
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 100px;
    width: 800px;
    left: 350px;
    letter-spacing: 2px;
    font-size: 25px;
    

  }

  body{
    background-color: #B3CDE0;
    height: 100%;
  }


/*.navigation{

    position: fixed;

    align-items: center;
}

.navigation li {
    list-style-type: none;
}

.navigation ul{
    text-align: center;
}
/*.navigation{
    background-color: #6497B1;
    text-align: center;
    padding: 20px;
    height: auto 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;

}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    list-style-type: none;
}

li:hover {
    color: darkgray;
}

.header{
    font-weight: extrabold;
    letter-spacing: 2px;
    padding: 20px;
    font-size: 40px;
    font-family: sans-serif;
    margin: 10px;
    height: auto 0;
    width: auto 0;
}

h3{
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: sans-serif;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Paragraph{
    font: sans-serif;
    text-align: center;
    font-size: 20px;
    height: auto 0;
    margin: 0;
    padding: 20px;
    letter-spacing: 2px;
    bottom: 200px;
}

.Teacher {
    font: sans-serif;
    font-size: 20px;
    height: auto 0;
    padding: 20px;
    margin: 10px 10px;
    letter-spacing: 2px;;
}

.info{
    position: relative;
    top:200px;
    bottom: 200px;
}

footer {
    text-align: center;
    height: 100px;
    bottom: 100px;
}
*/