.navigation{
    background-color: #6497B1;
    text-align: center;
    padding: 20px;
    height: auto 0;
    width: auto;
}

.navigation ul {
    margin: 0;
    padding: 0;
}

.navigation li {
    font-weight: 100;
    letter-spacing: 2px;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    list-style-type: none;
}

li:hover {
    color: darkgray;
}

.header{
    font-weight: extrabold;
    letter-spacing: 2px;
    padding: 20px;
    font-size: 40px;
    font-family: sans-serif;
    margin: 10px;
    height: auto 0;
    width: auto 0;
}

h3{
    font-weight: bold;
    text-align: left;
    letter-spacing: 2px;
    font-size: 30px;
    font-family: sans-serif;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
}

.Paragraph {
    text-align: left;
    font: sans-serif;
    font-size: 20px;
    height: auto 0;
    width: 500px;
    padding: 20px;
    margin: 10px 10px;
    letter-spacing: 2px;
}

.Teacher {
    font: sans-serif;
    font-size: 20px;
    height: auto 0;
    padding: 20px;
    margin: 10px 10px;
    letter-spacing: 2px;;
}